<template>
  <div class="label-float">
    <button type="button" class="botao" @click="emitirEvento()">{{ palavra }}</button>
  </div>
</template>

<script>
export default {
  name: "ButtonTemplate",

  props: {
    palavra: String,
  },

  methods: {
    emitirEvento: function () {
      this.$emit("clique");
    },
  },

  // setup() {

  //   return {
  //   };
  // },
};
</script>

<style>
.botao {
  padding: 6px 12px;
  background-color: rgb(18, 251, 57);
  font-size: 16px;
  border: 2px solid rgb(20, 204, 51);
  border-radius: 10px;
  min-width: 100px;
}

.botao:hover {
  background-color: rgb(20, 204, 51);
}
</style>
