<template>
  <table class="tabela">
    <thead>
      <td><b>IMC</b></td>
      <td><b>Classificação</b></td>
      <td><b>OBESIDADE (GRAU)</b></td>
    </thead>
    <tbody>
      <tr class="fundo-cinza">
        <td><b>MENOR QUE 18,5</b></td>
        <td>MAGREZA</td>
        <td>0</td>
      </tr>
      <tr>
        <td><b>ENTRE 18,5 E 24,9 </b></td>
        <td>NORMAL</td>
        <td>0</td>
      </tr>
      <tr class="fundo-cinza">
        <td><b>ENTRE 25,0 E 29,9</b></td>
        <td>SOBREPESO</td>
        <td>1</td>
      </tr>
      <tr>
        <td><b>ENTRE 30,0 E 39,9</b></td>
        <td>OBESIDADE</td>
        <td>2</td>
      </tr>
      <tr class="fundo-cinza">
        <td><b>MAIOR QUE 40,0</b></td>
        <td>OBESIDADE GRAVE</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "TabelaImcTemplate",
};
</script>

<style>
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  font-size: 18px;
}

tbody {
  font-size: 16px;
}

td {
  padding: 4px 8px;
}

.tabela {
  margin-top: 32px;
  margin-bottom: 40px;
}

.fundo-cinza {
  background-color: rgb(200, 200, 200);
}
</style>
