<template>
  <div class="tela">
    <div class="menu-itens">
      <div><h3 class="espacamento" :class="telaSelecionada == 'criar' ? ' ative' : ''" @click="mudarTela('criar')">Criar</h3></div>
      <div><h3 class="espacamento" :class="telaSelecionada == 'deletar' ? ' ative' : ''" @click="mudarTela('deletar')">Deletar</h3></div>
      <div><h3 class="espacamento" :class="telaSelecionada == 'listar' ? ' ative' : ''" @click="mudarTela('listar')">Listar</h3></div>
    </div>
    <div v-if="telaSelecionada == 'criar'" class="create">
      <h1>É novo por aqui?</h1>
      <h2>Crie seu usuario</h2>
      <img src="../../assets/image/login.png" alt="criar" width="200" />
      <form action="">
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="nome"
            style="width: 100%"
          />
          <label>Nome Completo</label>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="email"
            style="width: 100%"
          />
          <label>Email</label>
        </div>
        <div class="doubleInput">
          <div class="label-float">
            <input
              type="date"
              placeholder=" "
              v-model="data"
              style="width: 100%"
            />
            <label>Data de Nascimento</label>
          </div>
          <div class="label-float">
            <input
              type="text"
              placeholder=" "
              v-model="sexo"
              v-mask="['A']"
              style="width: 100%"
            />
            <label>Sexo</label>
          </div>
        </div>
        <div class="label-float" :class="cpfValide ? '' : 'label-float-error'">
          <input
            type="text"
            placeholder=" "
            v-model="cpf"
            style="width: 100%"
            id="cpf"
            v-mask="['###########']"
          />
          <label :class="cpfValide ? '' : 'text-red'">CPF</label>
          <div v-if="!cpfValide" class="error text-red">CPF invalido</div>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="logradouro"
            style="width: 100%"
          />
          <label>Logradouro</label>
        </div>
        <div class="doubleInput">
          <div class="label-float">
            <input
              type="text"
              placeholder=" "
              v-mask="['#########']"
              v-model="numero"
              style="width: 100%"
            />
            <label>Número do Logradouro</label>
          </div>
          <div class="label-float">
            <input
              type="text"
              placeholder=" "
              v-model="cep"
              style="width: 100%"
              v-mask="['########']"
            />
            <label>CEP</label>
          </div>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="cidade"
            style="width: 100%"
          />
          <label>Cidade</label>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="bairro"
            style="width: 100%"
          />
          <label>Bairro</label>
        </div>
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="uf"
            style="width: 100%"
            v-mask="['AA']"
          />
          <label>UF</label>
        </div>
        <input type="checkbox" name="termos" id="termos" v-model="check" style="margin-right: 16px;">
        <label for="termos">Aceito os termos e condições</label>
        <div v-if="check">
          <Button style="margin-bottom: 24px" palavra="Criar" @clique="requisicaoCriar()" />
        </div>
      </form>
    </div>
    <div v-else-if="telaSelecionada == 'deletar'">
      <h1>Vai nos deixar? :(</h1>
      <h2>Digite seu CPF para remoção</h2>
      <img src="../../assets/image/login.png" alt="criar" width="200" />
      <form class="form" action="">
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="cpfSecundario"
            v-mask="['###########']"
            style="width: 100%"
          />
          <label>CPF</label>
        </div>
        <Button style="margin: 24px 0px" palavra="Deletar" @clique="requisicaoDelete()" />
      </form>
    </div>
    <div v-else-if="telaSelecionada == 'listar'">
      <h1>Procurando alguém? :)</h1>
      <h2>Digite seu CPF para localização</h2>
      <img src="../../assets/image/login.png" alt="criar" width="200" />
      <form class="form" action="">
        <div class="label-float">
          <input
            type="text"
            placeholder=" "
            v-model="cpfSecundario"
            v-mask="['###########']"
            style="width: 100%"
          />
          <label>CPF</label>
        </div>
        <Button style="margin: 24px 0px" palavra="Listar" @clique="requisicaoListar()" />
      </form>
      <div v-if="responseListar">
        <div v-if="responseListar.nomeCompleto">
          <div>Nome: {{responseListar.nomeCompleto}}</div>
        </div>
        <div v-if="responseListar.logradouro">
          <div>Logradouro: {{responseListar.logradouro}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";
import { mask } from "vue-the-mask";

export default {
  name: "cadastroTemplate",
  components: {
    Button,
  },
  directives: { mask },

  data: function () {
    return {
      telaSelecionada: "criar",
      nome: null,
      email: null,
      data: null,
      bairro: null,
      sexo: null,
      cpf: "",
      logradouro: null,
      numero: null,
      cep: null,
      cidade: null,
      uf: null,
      cpfValide: true,
      cpfSecundario: null,
      responseListar: null,
      responseDeletar: null,
      responseCriar: null,
      check: "false",
    };
  },

  watch: {
    cep() {
      if(this.cep.length == 8) {
        this.requisicaoCep()
      }
    }
  },

  methods: {
    async requisicaoCep() {
      const options = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }

      await fetch(localStorage.getItem("url") + `endereco/${this.cep}`, options)
        .then(res => res.json())
        .then(res => {
          this.bairro = res.bairro
          this.logradouro = res.logradouro
          this.uf = res.uf
          this.cidade = res.localidade
        })
        .catch(err => {
          console.log("ERRO");
        });
    },

    async requisicaoCriar() {
      const json = {
        "nomeCompleto": this.nome,
        "dataNascimento": this.data,
        "sexo": this.sexo,
        "cep": this.cep,
        "cpf": this.cpf,
        "uf": this.uf,
        "cidade": this.cidade,
        "logradouro": this.logradouro,
        "numeroLogradouro": this.numero,
        "email": this.email
      }
      // {
      //   nomeCompleto: this.nome,
      //   dataNascimento: this.data,
      //   sexo: this.sexo,
      //   cep: this.cep,
      //   cpf: this.cpf,
      //   uf: this.uf,
      //   cidade: this.cidade,
      //   logradouro: this.logradouro,
      //   numeroLogradouro: this.numero
      // }

      console.log(json);

      const options = {
        method: 'POST',
        body: JSON.stringify(json),
        headers: {
          'Content-Type': 'application/json'
        }
      }

      await fetch(localStorage.getItem("url") + `cadastro`, options)
        .then(res => {
          console.log(res);
          console.log(this.responseCriar);
        })
        .catch(err => {
          console.log("ERRO -- ", err);
        });
      // if(this.responseCriar.message) {
      //   alert(`Mensagem: ${this.responseCriar.message}`)
      // }
    },

    verCheck() {
      console.log(this.check);
    },

    async requisicaoDelete() {
      const options = {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      }

      await fetch(localStorage.getItem("url") + `cadastro/${this.cpfSecundario}`, options)
        .then(res => res.json())
        .then(res => {
          console.log(res);
          this.responseDeletar = res
        })
        .catch(err => {
          console.log("ERRO");
        });
    },

    async requisicaoListar() {
      const options = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }
      this.responseListar = null
      await fetch(localStorage.getItem("url") + `cadastro/${this.cpfSecundario}`, options)
        .then(res => res.json())
        .then(res => {
          console.log(res.status);
          this.responseListar = res
        })
        .catch(err => {
          console.log("ERRO");
        });
      if(this.responseListar.message) {
        alert(`Mensagem: ${this.responseListar.message}`)
      }
    },

    mudarTela(proximaTela) {
      this.telaSelecionada = proximaTela
    },
  },
};
</script>

<style>
.tela {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  column-gap: 24px;
  margin-bottom: 32px;
}

.form {
  padding: 50px 0px 0px 0px;;
}

.espacamento {
  padding: 4px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.ative {
  color: #57f8f8;
  background-color: rgb(158, 158, 158);
}

.text-red {
  color: red !important;
}

.error {
  text-align: start;
  padding-left: 4px;
}

.create {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doubleInput {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.label-float {
  position: relative;
  padding-top: 13px;
  width: 100%;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float-error {
  border-bottom: 2px solid red !important;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label {
  color: red;
}
.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
</style>
