<template>
  <div class="header">
    <div class="display">
      <img src="../../assets/image/health-care.svg" alt="" width="50" srcset="" @click="goHome()">
      <div class="itens">
        <div v-for="i in menu" :key="i">
          <router-link class="router-link" :to="i">{{ i }}</router-link>
        </div>
      </div>
      <img src="../../assets/image/login.png" alt="user" width="50" srcset="" @click="goCadastro()">
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderTemplate",
  components: {
    
  },
  setup() {
    const menu = ["home", "cadastro", "imc", "quem-somos"];

    return {
      menu,
    };
  },

  methods: {
    goCadastro() {
      this.$router.push("/cadastro");
    },

    goHome() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  background-color: #57f8f8;
  box-shadow: 0px 2px 25px #00d8d8;
}

.display {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.itens {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
}

.router-link {
  text-decoration: none;
  color: black;
}
</style>
