<template>
  <div>
    <h1 class="center">Bem vindo a Ideal Saúde</h1>
    <swiper
      :slides-per-view="1"
      :space-between="10"
      navigation
      :pagination="{ clickable: true }"
      class="carrosel"
    >
      <swiper-slide class="center"><img class="image-carrosel" src="../../assets/image/health-care.svg" alt="" srcset=""></swiper-slide>
      <swiper-slide class="center"><img class="image-carrosel" src="../../assets/image/image1.jpeg" alt="" srcset=""></swiper-slide>
      <swiper-slide class="center"><img class="image-carrosel" src="../../assets/image/image2.jpeg" alt="" srcset=""></swiper-slide>
      <swiper-slide class="center"><img class="image-carrosel" src="../../assets/image/image3.jpeg" alt="" srcset=""></swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Navigation, Pagination, A11y } from 'swiper';
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';

export default {
  name: "HomeTemplate",
  components: {
    Swiper,
    SwiperSlide,
  },

  setup() {
    return {
      modules: [Navigation, Pagination, A11y],
    };
  },
};
</script>

<style>
.image-carrosel {
  width: 60%;
}

.center {
  text-align: center;
  align-self: center;
  height: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.carrosel {
  margin: 30px 0px;
}
</style>
