<template>
  <div class="tela">
    <div class="imc">
      <h1>Calcule seu IMC</h1>
      <h2>Tabela de Indice de Massa Corporal</h2>
      <h3  class="texto">O que é IMC?</h3>
      <p>
        O IMC (ou índice de massa corporal) é um cálculo simples que permite
        avaliar se a pessoa está dentro do peso que é considerado ideal para a sua altura.
        Esta é uma fórmula simples que vários profissionais de saúde, incluindo médicos,
        enfermeiros e nutricionistas, usam para saber, de uma forma rápida, se a pessoa
        precisa ganhar ou perder peso. Isso porque, tanto o excesso de peso, como a falta, podem
        trazer diversas consequências para a saúde, desde desnutrição até ao aumento do risco de infartos ou AVC.
      </p>
      <Tabela />
      <form class="formulario">
        <h2>Indique seu peso e altura</h2>
        <div class="doubleInput">
          <div class="label-float" :class="errorPeso ? 'label-float-error' : ''">
            <input
              type="text"
              placeholder=" "
              v-model="peso"
              v-mask="['###.##']"
              style="width: 100%"
            />
            <label>Peso (kg)</label>
          </div>
          <div class="label-float" :class="errorAltura ? 'label-float-error' : ''">
            <input
              type="text"
              placeholder=" "
              v-model="altura"
              v-mask="['#.##']"
              style="width: 100%"
            />
            <label>Altura (cm)</label>
          </div>
        </div>
        <Button
          style="margin-top: 12px; margin-bottom: 20px"
          palavra="Calcular"
          @clique="requisicao()"
        />
      </form>
      <div :class="imcResponse == null ? 'hidden' : 'visible'">
        <h2>
          {{ imcResponse }}
        </h2>
      </div>
      <div class="texto-red" :class="imcResponseError == null ? 'hidden' : 'visible'">
        <h2>
          {{ imcResponseError }}
        </h2>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "@/components/atoms/Button.vue";
import Tabela from "@/components/molecules/TabelaIMC.vue";
import { mask } from "vue-the-mask";

export default {
  name: "ImcTemplate",
  components: {
    Button,
    Tabela,
  },
  directives: { mask },

  data: function () {
    return {
      peso: "0",
      altura: "0",
      errorPeso: null,
      errorAltura: null,
      imcResponse: null,
      imcResponseError: null
    };
  },

  methods: {
    async requisicao() {
      if(this.peso.length < 2 || this.peso < 10){
        this.errorPeso = true
      }
      else {
        this.errorPeso = null
      }
      if(this.altura.length < 2){
        this.errorAltura = true
      }
      else {
        this.errorAltura = null
      }
      if (this.errorPeso || this.errorPeso) {
        return
      }

      const json = {
        peso: this.peso,
        altura: this.altura
      };

      const options = {
        method: 'POST',
        body: JSON.stringify(json),
        headers: {
          'Content-Type': 'application/json'
        }
      }

      await fetch(localStorage.getItem("url") + 'imc/calcular', options)
        .then(res => res.json())
        .then(res => {
          this.errorAltura = null
          this.errorPeso = null
          this.imcResponse = res.message
          this.imcResponseError = null
        })
        .catch(err => {
          this.imcResponse = null
          this.imcResponseError = "Erro na requisição"
          console.error(this.imcResponse);
        });
    }
  },
};
</script>

<style scoped>
.hidden {
  visibility: hidden;
}

p {
  text-align: justify;
}

.visible {
  visibility: visible;
}

.texto {
  margin-top: 20px;
}

.texto-red {
  color: red;
}

.tela {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.imc {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.doubleInput {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.label-float {
  position: relative;
  padding-top: 13px;
  width: 100%;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
  border-radius: 0;
}

.label-float-error {
  border-bottom: 2px solid red !important;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-float input:required:invalid + label {
  color: red;
}
.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before {
  content: "*";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}
</style>
