<template>
  <div class="tela">
    <h1>Quem Somos</h1>
    <div class="separador">
      <h2>Nossa Visão:</h2>
      <h3>Disponibilizar um ambiente especializado em saúde para as pessoas de todas as idades e meios sociais</h3>
    </div>
    <div class="separador">
      <h2>Nossa Missão:</h2>
      <h3>Cuidar da saúde das pessoas para garantir que elas possam desfrutar de suas vidas da melhor forma e com mais saúde possível</h3>
    </div>
    <div class="separador">
      <h2>Nossos Valores:</h2>
      <ul class="justificado">
        <li>Paixão</li>
        <li>Cuidado</li>
        <li>Dedicação</li>
        <li>Seriedade</li>
        <li>Responsabilidade</li>
      </ul>
    </div>
    <div class="separador" id="local">
      <h2>Localização:</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7308.588012380951!2d-46.7865049651123!3d-23.665441700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce53bb9f552a87%3A0x3aec0f9505db9f0f!2sCentro%20M%C3%A9dico%20Adventista%20Unidade%20Sul!5e0!3m2!1spt-BR!2sbr!4v1648091006548!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
      
  </div>
</template>

<script>

export default {
  name: "QuemSomosTemplate",
};
</script>

<style scoped>
.tela {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.separador {
  margin: 20px 0px;
}

.justificado {
  text-align: justify;
}
</style>
