<template>
  <div class="fundo-limite">
    <div class="conteudo">
      <Header class="espaco" />
      <router-view class="router espaco" />
      <Footer class="espaco" />
    </div>
  </div>
</template>

<script setup>
import Header from "@/components/organisms/Header.vue";
import Footer from "@/components/organisms/Footer.vue";
</script>

<style scoped>
.fundo-limite {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 245, 233);
}

.conteudo {
  max-width: 1550px;
  width: 100%;
}

.router {
  width: 100%;
  background-color: #ffffffb2;
  box-shadow: 0px 2px 25px #4e4e4e;
  padding-top: 60px;
  padding-bottom: 100px;
}

.espaco {
  padding-left: 60px;
  padding-right: 60px;
}
</style>
